.App {
  
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}



.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


ul#navegacao {
  width: 100%;
  margin: 0 auto;
  padding: 0;
  list-style: none;
  background: #159cb0;
  float: left;
}

ul#navegacao li {
  
  float: left;
}

ul#navegacao a:-webkit-any-link{
  display: block;
  color: #fff;
  padding: 0 2em;
  line-height: 2em;
  text-decoration: none;
  border-left: 1px solid #61dafb;
}

ul#navegacao a:-webkit-any-link:hover{
  color: black;
  background: #44cade;
}


.vazio{
  
  height: 40px;
}

.datas{
  align-items: center;
  width: 90%;
  
  float: left;
}

#titulo{
  padding: 2px;
  float: left;
}

#dataIni{
  width: 20%;
  float: left;
  margin-left: 10px;
}

#dataFin{
  width: 20%;
  float: left;
  margin-left: 10px;
}

.botao{
  float: left;
  margin-top: 8px;
  padding-left: 10px;
}

.clientesPesquisa{
  margin-top: 5px;
  width: 90%;
  
  float: left;
  
}

#escolha{
  float: left;
  width: 62.5%;
}

.numeroPesquisa{
  margin-top: 5px;
  width: 90%;
  
  float: left;
}

#numero{
  float: left;
  width: 20%;
}

.resultados{
  margin-top: 5px;
  width: 100%;
  border: 1px solid red;
  float: left;
}

.resumo{
  margin: 2px 0px;
  padding: 5px;
  font-size: 12px;
}

.cartao{
  padding: 5px
}

.card-actions{
  width: 100%;
  display: flex;
  flex-direction: column;
  
}

.card_botao{
  font-size: 9px;
}
